@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Kanit", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.section-error {
  background-image: url(https://media4.giphy.com/media/3oKIPwaiK7xSA4zUek/giphy.gif?cid=ecf05e47yapz8q315r9t1fdt0537r7rvdrd17vvh8vc04jqp&rid=giphy.gif&ct=g);
  background-repeat: repeat;
  background-size: cover;
  position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}

.first-log {
  width: 400px;
  height: 300px;
  color: rgb(8, 218, 255) !important;
}
  .boton-magic1{
    width: 40px;
    height: 40px;
    background: transparent;
    color: white;
    border:none;
    z-index: 100;
    transition: all 1s ease;
    border-radius: 25px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  .boton-magic1:hover{
    background:#f03d78;
  }
  .boton-magic2{
    width: 40px;
    height: 40px;
    background: transparent;
    color: white;
    border:none;
    z-index: 100;
    transition: all 1s ease;
    border-radius: 25px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  .boton-magic2:hover{
    background:#f03d78;
  }



.boton-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: #d30247 !important;
  transition: all 1s ease;
  padding: 10px 10px;
  color: #000000 !important;
  font-size: 50px;
}
.boton-intro:hover {
  background-color: #0202028a !important;
  color: white !important ;
}

.section-container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}

.section-container-contact {
  background-color: rgb(66, 53, 102);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/**********      Navbar    ***********/



.section-logo {
  margin-left: 10%;
}


.section-navbar {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
 
}
.section-navbar img {
  height: 10vh;
}

.navbar-menu {
  display: none;
}

.menu {
  background-color: white;
  margin-right: 10px;
}
.navbar-menu-second {
  position: absolute;
  right: 0;
  top: 0;
  height: 150vh;
  background-color: rgba(253, 252, 252, 0.199);
  transition: all 1s ease;
  width: 100vw;
  display: flex;
  justify-content: end;

  z-index: 3;
  overflow-x: hidden;
}
.navbar-menu-second.active {
  position: absolute;
  right: 0px;
  top: 0;
  height: 100vh;
  background-color: rgba(213, 235, 227, 0.336);
  width: 0vw;
}

.section-menu-second {
  background-color: rgb(0, 0, 0);
  position: absolute;
  right: 0;
  height: 100%;
}

.btn-open {
  height: 50px;
  width: 50px;
  background-color: black;
  color: white;
}

.btn-closee {
  height: 50px;
  width: 50px;
  margin: 10px 0px 0px 65%;
  color: white !important;
  background-color: transparent;
}
.btn-closee:hover {
  background-color: rgba(255, 255, 255, 0.616);
}
li {
  list-style: none;
  width: 200px;
  margin: auto;
  color: white;
}

.btn-menu {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  border: none;
  color: rgba(0, 255, 255, 0.616);
}

.btn-menu:hover {
  background-color: rgba(0, 255, 255, 0.61);
}

/****************************** Home page ******************************/
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.first-title {
  margin: 20px 0px;
  transition: all 1s ease;
}
.first-title:hover {
  color: #08fcef !important;
  margin-top: 30px;
}
.second-title {
  transition: all 1s ease;
  margin-top: 30px !important;
}
.second-title:hover {
  color: #08fcef !important;
  margin-top: 40px !important
}
.article {
  overflow-y:auto;
  color: white;
  transition: all 1s ease;
  margin-top: 20px;
 
}
.article:hover {
  margin-top: 30px;
  color: rgb(21, 253, 222);
}

/******************************* Tales*********************************** */

.section-container-tales {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-container-tales p {
  text-align: start;
  color: white;
  padding: 10px 15px;
  transition: all 1s ease;
  margin-top: 10px;
}
.section-container-tales p:hover {
  color: rgb(8, 218, 255);
}

.img-left {
  height: 350px;
}
.img-right {
  height: 350px;
}

.tales-title {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  color: white;
  transition: all 0, 1s ease;
 
}
.tales-title:hover {
  color: rgb(12, 236, 252);
}
/* * * * * * * * * * * * * * * * * * Footer * * * * * * * * * * * * * *  */

footer {
  margin-top: 20px;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.445);
}

footer h5 { 
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: rgb(17, 104, 155);
  text-decoration: none;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul a {
  font-size: 20px;
  color: white !important ;
  margin: 0px 20px;
  transition: all 1s ease;
}
footer ul a:hover {
  font-size: 30px;
  color: #f03d78 !important ;
  margin: 0px 20px;
}





/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /****************************** Home page ******************************/
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .first-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 150px;
    transition: all 2s ease;
    height: 50vh;
  }
  .first-title:hover {
    height: 100vh;
    background-color: #f03d78;
  }
  .second-title {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
  }

  .second-title:hover {
    background-color: #fa548b;
  }

  .article {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: all 1s ease;
    padding: 100px;
    color: white;
    overflow-y:auto;
    padding: 50px  30px 0px 30px;
  }
  .article:hover {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #8b2849;
    color: aqua;
  }
  .article p{
    font-size: 25px;

  }

  /* ****************** TALES PAGE**************** */

  .section-container-tales {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
  }
  .section-container-tales p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: start;
    padding: 10px 100px 0px 200px;
  }

  .img-left {
    height: 50vh;
    transition: all 1s ease;
  }
  .img-left:hover {
    height: 80vh;
  }
  .img-right {
    height: 50vh;
    transition: all 1s ease;
  }
  .img-right:hover {
    height: 80vh;
  }

  .tales-title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    color: white;
    transition: all 0, 5s ease-in;
  }
  .tales-title:hover {
    color: rgb(12, 236, 252);
  }

  /********************** navbar ****************/
  .menu {
    display: none;
  }
  .navbar-menu {
    display: block;
    margin-right: 10%;
  }
  .navbar-menu-second {
    position: absolute;
    right: 0px;
    top: 0;
    height: 100vh;
    width: 0vw;
  }
  .btn {
    background-color: transparent;
    border: none;
    margin-right: 10px;
    width: 120px;
    color: white;
  }
  

  .btn:hover {
    background-color:#fa548b;
    border: none;
    color: white;
  }

  /* * * * * * * * * * * * * * * * * * Footer * * * * * * * * * * * * * *  */

footer {
  margin-top: 25px;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.445);
}

footer h5 {
  
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

}

